---
import Layout from '../layouts/Layout.astro';

import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro'
import Experience from '../components/Experience.astro';
import Container from '../components/Container.astro'
import Projects from '../components/Projects.astro'

import Linkedin from '../components/icons/Linkedin.astro';
import GitHub from '../components/icons/GitHub.astro';
import Mail from '../components/icons/Mail.astro';
import Suitcase from '../components/icons/Suitcase.astro';
import Code from '../components/icons/Code.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
	title="Portfolio de Tomas Vainstub - Desarrolador de software y Estudiante avanzado en Ingenieria en Computación"
	description="Interesado en el aprendizaje continuo y el desarrollo de soluciones de software optimas">
	<main class="px-4">

		<Container class="py-44 pb-30" id="inicio">
			<img class="rounded-full w-18 h-18 mb-8" src="/profile.jpeg" alt="vainstubPhoto">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Hola, soy Tomás Vainstub<a
					href="https://www.linkedin.com/in/vainstubtomas/"
					target="_blank"
					class="flex justify-center items-center"
				><Badge>Disponible</Badge></a></h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]"><span>+2 años de experiencia en el área informatica. </span><span class="text-blue-200">De Paraná, Argentina</span> <span class="opacity-70">. Estudiante avanzado de </span><span class="text-yellow-100">Ingenieria en Computación.</span></h2>

			<nav class="flex gap-2 py-5 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/vainstubtomas/">
					<Linkedin class="size-4 lg:size-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/VainstubTomas">
					<GitHub class="size-4 lg:size-6"/>
					GitHub
				</SocialPill>
				<SocialPill href="https://github.com/VainstubTomas">
					<Mail class="size-4 lg:size-6"/>
					vainstubtomas@gmail.com
				</SocialPill>
			</nav>
		</Container>

		<Container id="experiencia">
			<h2 class="text-3xl font-semibold mb-8 flex items-center gap-3">
				<Suitcase class="size-7"/>
				Experiencia laboral
			</h2>
			<Experience />
		</Container>

		<Container id="proyectos">
			<h2 class="text-3xl font-semibold mb-8 flex items-center gap-3">
				<Code class="size-7"/>
				Proyectos
			</h2>
			<Projects/>
		</Container>
		
	</main>
</Layout>
