<section id="email-contact-section">
    <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] text-justify"><span class="opacity-80">Con el objetivo de mantener una comunicación ordenada y eficiente, centralizo todas las interacciones profesionales a través de mi correo electrónico. Si desea discutir potenciales proyectos o requerimientos técnicos, por favor contácteme en</span><span class="text-yellow-100 hover:text-blue-200 transition-colors cursor-pointer"> vainstubtomas@gmail.com</span></h2>
</section>

<script>
    // @ts-ignore
    import Toastify from 'toastify-js';
    import 'toastify-js/src/toastify.css';

    const supportEmail = 'vainstubtomas@gmail.com';

    const copyEmailToClipboard = async (email: string) => {
        try {
            await navigator.clipboard.writeText(email);
            // @ts-ignore
            Toastify({
                text: "Correo copiado al portapapeles",
                className: "emailClipboard",
                gravity: "bottom",
                style: {
                    background: "#00b09b",
                }
            }).showToast();
        } catch (err) {
            console.error('Error al intentar copiar: ', err);
        }
    };

    document.addEventListener('DOMContentLoaded', () => {
        const emailPill = document.getElementById('email-contact-section');
        if (emailPill) {
            emailPill.addEventListener('click', (e) => {
                e.preventDefault();
                copyEmailToClipboard(supportEmail);
            });
        }
    });
</script>