---
import { useTranslations, getLangFromUrl } from "../i18n/utils"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="email-contact-section">
    <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px">{t('contacto.texto')}<span class="text-yellow-100 hover:text-blue-200 transition-colors cursor-pointer"> {t('contacto.mail')}</span></h2>
</section>

<script>
    // @ts-ignore
    import Toastify from 'toastify-js';
    import 'toastify-js/src/toastify.css';

    const supportEmail = 'vainstubtomas@gmail.com';

    const copyEmailToClipboard = async (email: string, toastText: string) => {
        try {
            await navigator.clipboard.writeText(email);
            // @ts-ignore
            Toastify({
                text: toastText,
                className: "emailClipboard",
                gravity: "bottom",
                style: {
                    background: "#00b09b",
                }
            }).showToast();
        } catch (err) {
            console.error('Error al intentar copiar: ', err);
        }
    };

    document.addEventListener('DOMContentLoaded', () => {
        const emailPill = document.getElementById('email-contact-section');
        if (emailPill) {
            const toastText = emailPill.dataset.toastText || 'Email copied';
            emailPill.addEventListener('click', (e) => {
                e.preventDefault();
                copyEmailToClipboard(supportEmail, toastText);
            });
        }
    });
</script>