---
import ExperienceItem from "./ExperienceItem.astro"

const XP = [
    {
       date: "Jul. 2025 - actualidad.",
       company: "Institución - Ivolution",
        title:"Desarrollador de software.",
        description:"Diseño e implementación de soluciones full-stack escalables utilizando tecnologías modernas para asegurar un código limpio y mantenible, gestionando a su vez el control de versiones y la colaboración mediante flujos en linea.", 
    },
    {
        date: "Feb. 2024 - actualidad.",
        company: "Institución - Ivolution",
        title:"Administrador de Servicio Técnico.",
        description:"Brindar apoyo tecnico al cliente ante problemas o dudas sobre el software o hardware de la empresa. Proveer feedback al área de desarrollo además de brindar apoyo y soluciones. Mantener stock de productos y materiales. Testear productos finales previo a su venta.",
    },
]
---


<ol class="relative border-s border-default">
    {
        XP.map(xp=>(
            <li class="mb-10 ms-4">
                <ExperienceItem {...xp}/>
            </li>
        ))
    }                 
</ol>

