---
import ExperienceItem from "./ExperienceItem.astro"
import { useTranslations, getLangFromUrl } from "../i18n/utils"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const XP = [
    {
        date: `${t('experiencia.fecha_1')}`,
        company: `${t('experiencia.institución_1')}`,
        title:`${t('experiencia.puesto_1')}`,
        description:`${t('experiencia.descrip_1')}`,
    },
    {
        date: `${t('experiencia.fecha_2')}`,
        company: `${t('experiencia.institución_2')}`,
        title:`${t('experiencia.puesto_2')}`,
        description:`${t('experiencia.descrip_2')}`,
    },
]
---


<ol class="relative border-s border-default">
    {
        XP.map(xp=>(
            <li class="mb-10 ms-4">
                <ExperienceItem {...xp}/>
            </li>
        ))
    }                 
</ol>

