---
import SkillsPills from "./SkillsPills.astro"
import { useTranslations, getLangFromUrl } from "../i18n/utils"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
    <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">{t('sobremi.texto1')}</h2>
    <div class="mb-10 mt-10">
        <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] mb-5">{t('sobremi.stack')}</h2>
        <h3 class="text-green-300">Backend</h3>
        <nav class="flex gap-2 py-5 flex-wrap">
            <SkillsPills>
                <p>Node.js</p>
            </SkillsPills>
            <SkillsPills>
                <p>Typescript</p>
            </SkillsPills>
            <SkillsPills>
                <p>Express</p>
            </SkillsPills>
            <SkillsPills>
                <p>Python</p>
            </SkillsPills>
            <SkillsPills>
                <p>FastAPI</p>
            </SkillsPills>
            <SkillsPills>
                <p>MySQL</p>
            </SkillsPills>
            <SkillsPills>
                <p>MongoDB</p>
            </SkillsPills>
            <SkillsPills>
                <p>C++</p>
            </SkillsPills>
        </nav>
        <h3 class="text-green-400">Frontend</h3>
        <nav class="flex gap-2 py-5 flex-wrap">
            <SkillsPills>
                <p>React</p>
            </SkillsPills>
            <SkillsPills>
                <p>Typescript</p>
            </SkillsPills>
            <SkillsPills>
                <p>Next.js</p>
            </SkillsPills>
            <SkillsPills>
                <p>TailwindCSS</p>
            </SkillsPills>
            <SkillsPills>
                <p>React Native</p>
            </SkillsPills>
            <SkillsPills>
                <p>Bootstrap</p>
            </SkillsPills>
            <SkillsPills>
                <p>Zustand</p>
            </SkillsPills>
            <SkillsPills>
                <p>Electron</p>
            </SkillsPills>
            <SkillsPills>
                <p>JavaScript</p>
            </SkillsPills>
            <SkillsPills>
                <p>HTML</p>
            </SkillsPills>
            <SkillsPills>
                <p>CSS</p>
            </SkillsPills>
            <SkillsPills>
                <p>Astro</p>
            </SkillsPills>
        </nav>
        <h3 class="text-green-500">{t('sobremi.herramientas_pastilla')}</h3>
        <nav class="flex gap-2 py-5 flex-wrap">
            <SkillsPills>
                <p>Docker</p>
            </SkillsPills>
            <SkillsPills>
                <p>GitHub</p>
            </SkillsPills>
        </nav>
    </div>
    <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">{t('sobremi.texto2')}</h2>
</section>