---
import SkillsPills from "./SkillsPills.astro"
---

<section>
    <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] text-justify"><span class="text-green-200">Desarrollador de Software</span><span class="opacity-80"> con mentalidad de ingeniero especializado en el diseño e implementación de sistemas integrales, con un fuerte enfoque en </span><span class="text-green-200">Backend e Internet de las Cosas (IIoT).</span></h2>
    <div class="mb-10 mt-10">
        <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] text-justify mb-5">Mi stack tecnológico principal incluye:</h2>
        <h3 class="text-green-300">Backend</h3>
        <nav class="flex gap-2 py-5 flex-wrap">
            <SkillsPills>
                <p>Node.js</p>
            </SkillsPills>
            <SkillsPills>
                <p>Typescript</p>
            </SkillsPills>
            <SkillsPills>
                <p>Express</p>
            </SkillsPills>
            <SkillsPills>
                <p>Python</p>
            </SkillsPills>
            <SkillsPills>
                <p>FastAPI</p>
            </SkillsPills>
            <SkillsPills>
                <p>MySQL</p>
            </SkillsPills>
            <SkillsPills>
                <p>MongoDB</p>
            </SkillsPills>
            <SkillsPills>
                <p>C++</p>
            </SkillsPills>
        </nav>
        <h3 class="text-green-400">Frontend</h3>
        <nav class="flex gap-2 py-5 flex-wrap">
            <SkillsPills>
                <p>React</p>
            </SkillsPills>
            <SkillsPills>
                <p>Typescript</p>
            </SkillsPills>
            <SkillsPills>
                <p>Next.js</p>
            </SkillsPills>
            <SkillsPills>
                <p>TailwindCSS</p>
            </SkillsPills>
            <SkillsPills>
                <p>React Native</p>
            </SkillsPills>
            <SkillsPills>
                <p>Bootstrap</p>
            </SkillsPills>
            <SkillsPills>
                <p>Zustand</p>
            </SkillsPills>
            <SkillsPills>
                <p>Electron</p>
            </SkillsPills>
            <SkillsPills>
                <p>JavaScript</p>
            </SkillsPills>
            <SkillsPills>
                <p>HTML</p>
            </SkillsPills>
            <SkillsPills>
                <p>CSS</p>
            </SkillsPills>
            <SkillsPills>
                <p>Astro</p>
            </SkillsPills>
        </nav>
        <h3 class="text-green-500">Herramientas</h3>
        <nav class="flex gap-2 py-5 flex-wrap">
            <SkillsPills>
                <p>Docker</p>
            </SkillsPills>
            <SkillsPills>
                <p>GitHub</p>
            </SkillsPills>
        </nav>
    </div>
    <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] text-justify"><span class="opacity-80">Actualmente aplico estos conocimientos para desarrollar</span> <span class="text-green-200">soluciones óptimas</span> <span class="opacity-80">en entornos corporativos combinando</span> <span class="text-green-200">buenas prácticas </span><span class="opacity-80">de desarrollo con una</span> <span class="text-green-200">visión analítica</span> <span class="opacity-80">para la resolución de problemas.</span></h2>
</section>